@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #0a64ec;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background-color: #fff3;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  width: auto;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

button:hover,
:focus {
  transform: scale(1.125);
}

#alert {
  background-color: #f00a;
  padding: 1rem;
  border-radius: 0.25rem;
}

#back-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0 0 1rem;
}

.sticky-top {
  position: sticky;
  top: 0;
}

#search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#location-search {
  padding: 1.25rem;
  width: 70%;
  border: none;
  border-left: 4px solid #fff;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #fff1;
  margin: 2rem 0;
  text-align: center;
  font-size: 1.25rem;
}

#location-search:focus {
  outline: none;
}

#location-search::placeholder {
  color: #fff7;
  font-family: "Montserrat";
}

#search-btn {
  padding: 1.25rem;
}

.country {
  font-family: "Contrail One", sans-serif;
}

.text-center {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

#banner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

#weather-info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 3rem;
  margin-bottom: 1rem;
}

#weather-info .weather-icon {
  width: 25px;
  height: 25px;
}

.temp-symbol {
  font-size: 1rem;
}

.illustrate-icon {
  width: 100px;
  height: 100px;
}

#f-section {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  gap: 1rem;
  padding-bottom: 2rem;
  scrollbar-color: #fff;
  scrollbar-width: thin;
}

.f-card {
  width: 180px; /* Fixed width */
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  padding: 1rem;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.f-card:hover,
:focus {
  transform: scale(0.975);
  cursor: pointer;
}

#weather-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
}

.capitalize {
  text-transform: capitalize;
}

@media (min-width: 1024px) {
  body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
  }

  #location-search {
    width: 50%;
    color: #fff;
  }

  #banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 3rem;
  }

  #weather-data {
    margin-top: 2rem;
  }

  #weather-info {
    margin-top: 6rem;
    font-size: 120px;
    line-height: 16px;
  }

  #weather-info .weather-icon {
    width: 50px;
    height: 50px;
  }

  .temp-symbol {
    font-size: 4rem;
  }

  .illustrate-icon {
    height: 200px;
    width: 200px;
  }

  #f-section {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 1rem;
    padding-bottom: 2rem;
    scrollbar-color: #fff;
    scrollbar-width: thin;
  }

  .f-card {
    width: 160px; /* Fixed width */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
    padding: 1rem;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  #weather-comments {
    border-left: 2px solid #fff4;
  }
}
